* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.gifbox {
    max-width: 100%;
    /* Ensures the div doesn't exceed the width of the viewport */
    height: auto;
    /* Allows the div's height to adjust according to the image */
    position: relative;
    /* Ensures child elements are positioned relative to this container */

}

.gifbox img {
    max-width: 100%;
    /* Makes sure the image never exceeds the width of its container */
    height: auto;
    /* Allows the image's height to adjust proportionally with its width */
    display: block;
    /* Ensures the image behaves as a block-level element */
    margin: 0 auto;
    /* Centers the image horizontally within the container */
    width: 100%;
}